<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MuTestSettingsSection" type="MuTest.Core.Common.Settings.MuTestSettingsSection, MuTest.Core"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <MuTestSettingsSection>
    <MuTestSettings 
      VSTestConsolePath="Common7\IDE\Extensions\TestPlatform\vstest.console.exe" 
      MSBuildPath="C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\MSBuild.exe" 
      TestsResultDirectory="C:\Dashboard\TestResults\" 
      MSBuildLogDirectory="C:\Dashboard\MSBuildLogs\" 
      ServiceAddress="" 
      Options=" /Enablecodecoverage" 
      MSBuildVerbosity="Normal" 
      RunSettingsPath="output.runsettings"
      MSBuildCustomOption=" /p:RegisterForComInterop=false"/>
  </MuTestSettingsSection>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
